NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalPark" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" maxOccurs="1" />
              <!-- Phone is required, but can appear multiple times -->
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
              <xs:element name="Address" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string" />
                    <xs:element name="Street" type="xs:string" />
                    <xs:element name="City" type="xs:string" />
                    <xs:element name="State" type="xs:string" />
                    <xs:element name="Zip" type="xs:string" />
                  </xs:sequence>
                  <!-- NearestAirport is a required attribute -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- Rating is an optional/implied attribute -->
            <xs:attribute name="Rating" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
